[Desktop Entry]
Type=Application
Name=Engage Window Manager
Exec=engage-wm
NoDisplay=true
X-GNOME-WMSettingsModule=metacity
X-GNOME-WMName=Engage
X-GnomeWMSettingsLibrary=metacity
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
OnlyShowIn=Engage;